.notfound {
    text-align: center;
    &__title {
        margin-bottom: 10px;
        margin-top: 25vh;
        font-weight: 700;
        font-size: 20px;
        font-size: 32px;
    }
    &__return {
        font-size: 20px;
    }
}